{
  "parser": "@typescript-eslint/parser",

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],

  "plugins": ["import", "prettier"],

  "env": {
    "es2022": true
  },

  "parserOptions": {
    "ecmaVersion": 2022
    // "sourceType": "module"
  },

  "ignorePatterns": ["*.config.cjs", "node_modules/", "dist/", "build/"],

  "rules": {
    "prefer-const": "error",
    "no-var": "error",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": "off",
    "unicorn/prefer-add-event-listener": "off",

    "sort-imports": ["error", { "ignoreCase": true, "ignoreDeclarationSort": true }],
    "import/order": [
      "error",
      {
        "groups": [["external", "builtin"], "internal", ["sibling", "parent"], "index"],
        "pathGroups": [
          { "pattern": "@(react|react-native)", "group": "external", "position": "before" },
          { "pattern": "@src/**", "group": "internal" }
        ],
        "pathGroupsExcludedImportTypes": ["internal", "react"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
